* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;

}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  overflow-x: hidden;

}
.menu-lateral {
  z-index: 100;
  height: 100%;
  padding: 20px;
  padding-top: 60px;
  position: fixed;
  left: 0px;
  transform: translateX(-200px);
  transition: 0.3s;
}
.menu-lateral nav ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
.menu-lateral nav ul li a{
  text-decoration: none;
  color: white;
}

.menu-lateral nav ul li a{
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
}
.menu-lateral nav ul li a img {
  filter: invert();
}
.menu-lateral nav ul li a:active{
  color: #22C55E;
  border-bottom: 1px solid #22C55E;
}

.menu-lateral.ativo {
  position: fixed;
  left: 0px;
  background-color: #15803D;
  height: 100%;
  border: 1px solid #22C55E;
  transform: translateX(0px);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header > .pilar:nth-child(1) {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;

}

header .pilar .menu, header .pilar .fechar {
  padding: 10px;
  position: fixed;
  left: 0;
  transition: opacity 0.3s ease;

}

header .pilar .menu{
  opacity: 1;
  
}

header .pilar .menu:hover{
  cursor: pointer;
}

header .pilar .fechar{
  opacity: 0;

  
}

header .pilar .menu.ativo {
   z-index: 101;
  filter: invert();
  opacity: 0;
}

header .pilar .fechar.ativo {
  z-index: 101;
  filter: invert();
  opacity: 1;
}

.pilar .topo-superior {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.pilar .topo-superior .min {
  width: 100vh;
}

.pilar .topo-superior .logo-ifro {
  display: flex;
  align-items: center;
  font-weight: 900;
  gap: 10px;
  margin-top: 20px;
}

.pilar .topo-superior .logo-ifro .ifro {
  background-color: #15803D;
  color: white;
  font-weight: 900;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

header .pilar .topo-superior .logo-ifro .ifro {
  background-color: #15803D;
  padding: 10px;
}

header .pilar .topo-superior ul {
  display: flex;
  list-style: none;
  gap: 17px;
}

header .pilar .topo-superior ul li a {
  text-decoration: none;
  color: #4B5563;
}

.pilar .topo-superior .search {
  display: flex;
  margin-top: 20px;
  align-items: center;

  gap: 12px;
}

.pilar .topo-superior .search input[type="search"]:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
  border-bottom: 1px solid #4B5563;
}

.pilar .topo-superior .search input[type="search"] {
  border: none;
  border-bottom: 1px solid black;
  gap: 12px;
}

header .pilar .topo-inferior {
  display: none;
}


header .pilar .topo-inferior .options {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header .pilar .topo-inferior .options a {
  text-decoration: none;
  font-weight: 900;
  color: white;
}

header .pilar .topo-inferior .options .lista {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .pilar .topo-inferior .options .lista a{
    text-decoration: none;
    color: white;
    font-weight: 900;

  }

header .pilar .topo-inferior .options .lista .seta {
  height: 8px;
  filter: invert();
}

header .pilar .topo-inferior .logo-ifro {
  display: none;
}

header .pilar .topo-inferior .search {
  display: none;
}

@media(min-width: 768px) {

  #app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:none;
    padding-left: 0px;
  }
  #app.ativo{
  margin-left: 0px;
}
 .menu-lateral.ativo, .menu-lateral{
  transform: translateX(-200px);
 }
  header {
    display: flex;
    justify-content: center;
    width: 100%;
    /* max-width: 1400px; */
  }

  header > .pilar:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 10px;
    margin-top: 20px;
    width: calc(100% - 40px);
    max-width: 1400px;
  }

  .pilar:nth-child(1) .topo-superior {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0;
    /* align-items: normal; */
  }

  .pilar:nth-child(1) .topo-superior .min{
    display: none;
  }
  .pilar:nth-child(1) .topo-superior nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 17px;
  }

  .pilar:nth-child(1) .topo-superior .logo-ifro {
    display: none;
  }

  .pilar:nth-child(1) .topo-superior .search {
    display: none;
  }

  .pilar:nth-child(1) .topo-superior nav ul li a {
    text-decoration: none;
    color: #4B5563;
  }

  header .pilar .menu {
    display: none;
  }

  header > .pilar:nth-child(1) .topo-inferior,
  header > .pilar:nth-child(1) .topo-inferior.ativo {
    will-change:transform;
    /* display: none; */
    position:static;
    left: auto;
    top: auto;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    height: auto;
    color: #4B5563;
    transform: translateX(0px);
    max-height: 40px;
    /* transition: none; */
    border: none;

  }

  header .pilar .topo-inferior .logo-ifro {
    display: flex;
    max-width: 200px;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    color: #15803D;
  }

  header .pilar .topo-inferior .logo-ifro .ifro {
    background-color: #15803D;
    color: white;
    font-weight: 900;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid black;
  }

  header .pilar .topo-inferior .options,
  header .pilar .topo-inferior.ativo .options {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    font-weight: 900;
  }
  header .pilar .topo-inferior .options a,
  header .pilar .topo-inferior.ativo .options a{
    text-decoration: none;
    color: #4B5563;
  }

  header .pilar .topo-inferior .options .lista {
    display: flex;
    gap: 15px;
  }

  header .pilar .topo-inferior .options .lista a{
    text-decoration: none;
    color: #4B5563;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  header .pilar .topo-inferior .search {
    display: flex;
    align-items: center;
    gap: 10px;
  }


  header .pilar .topo-inferior .search input {
    border: none;
    max-width: 200px;
    width:100%;
    border-bottom: 1px solid #4B5563;
  }

  header .pilar .topo-inferior .search input[type="search"]:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
    border-bottom: 1px solid #4B5563;
  }

}